[submodule "plugins/pewpew"]
	path = plugins/pewpew
	url = https://github.com/noahbaxter/pewpew.git
	branch = main
[submodule "plugins/guillotine"]
	path = plugins/guillotine
	url = https://github.com/noahbaxter/guillotine.git
	branch = main
[submodule "plugins/chartchotic"]
	path = plugins/chartchotic
	url = https://github.com/noahbaxter/chartchotic.git
	branch = main
